
 body{
 overflow:hidden;
 height:100%;
 }

 html{
 height:100%;}

.form-control {
      display: inline;
  }

.container{
overflow:hidden;
width:100%;
height:100%;
margin:10px;
}

.left{
float:left;
width:50%;
height:100%;

}
.right{
    float: right;
    width: 50%;
    overflow: hidden;
    height: 100%;
    box-sizing: border-box;

 }

 textarea{

 width:100%;
 height:100%;
 
 
 }
 iframe{
border: none;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    box-sizing: border-box;
 }
   .d {
      width: 200px;
	  display:inline;
	

  }
    .text {
      border-bottom: 5px solid #e5e7e8;
      background-color: #e5e7e8;
      border-top: 5px solid #e5e7e8;
      padding-left: 10px;
	  padding-top:10px;

  }
 